@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@media screen and (max-width: 600px) {
  body {
    background-color: #FBE7C6;
  }

  html {
    height: 200%;
    width: 200%;
  }
/***Creating Navigation Bar**/
  ul {
    list-style: none;
    margin:0;
    padding: 0;
    overflow: hidden;
  }
  nav li {
    float:left;
  }
  
  nav li a {
    display: block;
    text-align: left;
    color: white;
    background-color: #c65102;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
  }

  nav li a:hover,
  nav li a.active {
    background-color: #000C66;
  }
  
 .fruityexpress {
   margin-left:80px;
  margin-right:10px;
 margin-top:20px;
 }
  
  footer li {
    display:inline;
  }

  footer li a:hover, footer li a.active {
  border-bottom:5px solid black;
  }
  /**Search Bar**/
  .search-container button {
    background-color: #FBE7C6;
    border-radius: 25px;
    border-color: black;
    border-style:solid;
    width:20%;
    padding: 5px;
    font-size: 10px;
    
  }
  
  .search-container button input[type=text] {
    background-color: #FBE7C6;
    border:none;
    padding:2px;
    font-size:12px;
  }
  
  input[type=text] {
     width:70%;
    color:black;
  }

  .search-container button {
    margin-left:12px;
  }
  

  /***Alligning Elements**/
  footer,
  footer li,
  .home,
  .menu,
  .careers,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-left: 40px;
  }

  .home, .menu, .careers {
  margin-bottom: 10px;
  }
  /***Creating Buttons**/
  .home {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 15px;
  }
  .menu,
  careers {
    text-align: center;
    padding: 14px 16px;
  }

  .menu {
    background-color: black;
    color: #FBE7C6;
    border-radius: 25px;
    padding: 15px 20px;
    font-weight: bold;
  }
  

  .careers:hover {
    background-color: orange;
  }

  .menu:hover {
    background-color: blue;
  }
  

  .careers {
    background-color: #FBE7C6;
    color: black;
    border-style: solid;
    border-radius: 25px;
    padding: 15px 20px;
    font-weight: bold;
    margin-left:50px;
  }
  
  .menu, .careers {
     width:80%;
  }
  
/**When buttons are clicked the mouse changes from an arrow to a hand showing that these buttons are clickable**/
  li a,
  .home,
  .menu,
  .careers {
    cursor: pointer;
  }
/**No bullet points and numbers on the lists on the main content**/
  main li {
    overflow: hidden;
    margin-left:2px;
  }
/**Changing sizes of headers, paragraphs and lists**/
  h1 {
    font-size: 40px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  main li {
    font-size: 1rem;
  }
   footer li {
  font-size:0.7rem;
    }
  p {
    font-size: 1rem;
  }
  /**Changing Font Of The Text Except For The Title**/
  h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
  }
  .navitem {
    margin-right:10px;
    padding-left:30px;
  }
  /**Creating Download Container**/
  .Appstorecontainer, .Appstorecontainer2 {
    background-color: black;
    border-radius: 16px;
    color:white;
    padding: 5px;
    float:left;
    margin-left:40px;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:20px;
    width:30%;
    height:5%
  }

  .Appstorecontainer i, .Appstorecontainer2 i {
    margin-top:10px;
  }
  
  /**Creating Symbol Container**/
  .symbolcontainer i {
    background-color:lightgrey;
    border-radius:8px;
    padding:10px;
  }
  
/***Alligning elements and spacing them out between text**/

  .symbolcontainer, .gridcontainer,
  .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,
  .gridcontainer7 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .symbolcontainer, .gridcontainer,
  .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,
  .gridcontainer7 {
    padding:40px;
  }
  .buttoncontainer {
    margin-top:250px;
    display: grid;
    grid-template-columns: auto auto 20px;
  }
  
  .gridcontainer img,
  .gridcontainer2 img,
  .gridcontainer3 img,
  .gridcontainer4 img,
  .gridcontainer5 img,
  .gridcontainer6 img,
  .gridcontainer7 img {
       animation: sepiaFilter 10s forwards;
      height: 200px;
      width: 100px;
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 50px;
  }

  /***Animating Images***/
  
    @keyframes sepiaFilter {
      from {
        height: 300px;
        width: 200px;
      }

      to {
        height:500px;
        width: 300px;
      }
    }
}

@media screen and (min-width: 600px) {
  body {
    background-color: #FBE7C6;
  }

  html {
    height: 100%;
    width: 100%;
  }
  
  /***Creating Navigation Bar**/
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float:left;
  }

  nav li a {
    display: block;
    text-align: left;
    color: white;
    background-color: #c65102;
    padding: 14px 16px;
    text-decoration: none;
  font-size:14px;
  }

  nav li a:hover,
  nav li a.active {
    background-color: #000C66;
  }
  
  .fruityexpress {
     margin-left:80px;
    margin-right:10px;
   margin-top:20px;
   }
  
  /**Search Bar**/
  .search-container button {
    background-color: #FBE7C6;
    border-radius: 25px;
    border-color: black;
    border-style:solid;
    width:20%;
    padding: 5px;
    font-size: 17px;
    float:right; 
  }

  .search-container button input[type=text] {
    background-color: #FBE7C6;
    border:none;
  }
  input[type=text] {
     width:70%;
    color:black;
  }

  /***Alligning Elements**/
  footer, footer li, .home,
  .menu,
  .careers,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-left: 40px;
  }

  .home,
  .menu,
  .careers {
    margin-bottom: 10px;
  }
  
  /***Creating Buttons**/
  .home {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
  }

  .menu {
    background-color: black;
    color: #FBE7C6;
    border-radius: 25px;
    padding: 15px 20px;
    font-weight: bold;
    margin-top:140px;
  }

  .careers:hover {
    background-color: orange;
  }

  .menu:hover {
    background-color: blue;
  }
  .careers {
    background-color: #FBE7C6;
    color: black;
    border-style: solid;
    border-radius: 25px;
    padding: 15px 20px;
    margin-left:5px;
    font-weight: bold;
    margin-top:140px;
  }
  /**When buttons are clicked the mouse changes from an arrow to a hand showing that these buttons are clickable**/
  
  li a,
  .home,
  .menu,
  .careers {
    cursor: pointer;
  }

  /**No bullet points and numbers on the lists on the main content**/
  main li {
    overflow: hidden;
    margin-left:2px;
  }
  
  /**Changing sizes of headers, paragraphs and lists**/
  
  h1 {
    font-size: 50px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  li {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }
  /**Changing Font Of The Text Except For The Title**/
  h2, h3, h4, h5, h6, p, li {
    font-family: Arial, Helvetica, sans-serif;
  }
  /**Creating Download Container**/
  .Appstorecontainer, .Appstorecontainer2 {
    background-color: black;
    border-radius: 8px;
    color:white;
    padding: 5px;
    float:left;
    margin-left:40px;
    padding-bottom:10px;
    padding-right:20px;
  }

  /**Creating Symbol Container**/
  .symbolcontainer i {
    background-color:lightgrey;
    border-radius:8px;
    padding:10px;
  }
  
  /***Alligning Images and spacing them out between text**/
  .symbolcontainer, .gridcontainer, .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,
  .gridcontainer7 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
  }
  .gridcontainer {
    margin-top:20px;
  }
  
  .buttoncontainer {
    display: grid;
    grid-template-columns: auto auto 20px;
  }
  
  .gridcontainer img,
  .gridcontainer2 img,
  .gridcontainer3 img,
  .gridcontainer4 img,
  .gridcontainer5 img,
  .gridcontainer6 img {
       animation: sepiaFilter 10s forwards;
      height: 200px;
      width: 100px;
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 50px;
  }

  .gridcontainer7 img {
    animation: sepiaFilter 10s forwards;
    height: 200px;
    width: 100px;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
  }
   /***Animating Images***/
  @keyframes sepiaFilter {
    from {
      height: 300px;
      width: 200px;
    }

    to {
      height: 500px;
      width: 300px;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: #FBE7C6;
  }

  html {
    height: 100%;
    width: 100%;
  }
  /***Creating Navigation Bar**/
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float:left;
  }
  
  nav li a {
    display: block;
    text-align: left;
    color: white;
    background-color: #c65102;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover,
  nav li a.active {
    background-color: #000C66;
  }
  .fruityexpress {
     margin-left:80px;
    margin-right:10px;
   margin-top:20px;
   } 

  /**Search Bar**/
  .search-container button {
    background-color: #FBE7C6;
    border-radius: 25px;
    border-color: black;
    border-style:solid;
    width:20%;
    padding: 5px;
    font-size: 17px;
    float:right; 
    margin-left:50px;
  }

  .search-container button input[type=text]{
    background-color: #FBE7C6;
    border:none;
  }

  input[type=text] {
     width:70%;
    color:black;
  }

  /**Footer**/
  
  footer li {
    display:inline;
  }

  footer li a:hover, footer li a.active {
  border-bottom:5px solid black;
  }
  
  /**Creating Appstore container**/
  .Appstorecontainer {
    background-color: black;
    border-radius:20px;
  }
  /***Alligning Elements**/
  footer, footer li,
  .home,
  .menu,
  .careers,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-left: 40px;
  }
  
  .home,
  .menu,
  .careers {
    margin-bottom: 10px;
  }
  
  /***Creating Buttons**/
  .home {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
  }

  .menu {
    background-color: black;
    color: #FBE7C6;
    border-radius: 25px;
    padding: 15px 20px;
    font-weight: bold;
    margin-top:140px;
  }

  .careers:hover {
    background-color: orange;
  }

  .menu:hover {
    background-color: blue;
  }


  .careers {
    background-color: #FBE7C6;
    color: black;
    border-style: solid;
    border-radius: 25px;
    padding: 15px 20px;
    margin-left:5px;
    font-weight: bold;
  }

   /**When buttons are clicked the mouse changes from an arrow to a hand showing that these buttons are clickable**/

  li a,
  .home,
  .menu,
  .careers {
    cursor: pointer;
  }
  
  /**No bullet points and numbers on the lists on the main content**/
  main li {
    overflow: hidden;
    margin-left:2px;
  }
  
  /**Changing sizes of headers, paragraphs and lists**/
  h1 {
    font-size: 50px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  li {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }
  
  /**Changing Font Of The Text Except For The Title**/
  h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
  }
  /**Creating Download Container**/
  .Appstorecontainer, .Appstorecontainer2 {
    background-color: black;
    border-radius: 8px;
    color:white;
    padding: 5px;
    float:left;
    margin-left:40px;
    padding-right:20px;
    height:20%;
  }
  
  /**Creating Symbol Container**/
  .symbolcontainer i {
    background-color:lightgrey;
    border-radius:8px;
    padding:10px;
  }
  
  .buttoncontainer {
    display: grid;
    grid-template-columns: auto auto 100px;
  }
  
  /***Alligning Images and spacing them out between text**/
  .symbolcontainer, .gridcontainer,
  .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,
  .gridcontainer7 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
  }

  .gridcontainer img,
  .gridcontainer2 img,
  .gridcontainer3 img,
  .gridcontainer4 img,
  .gridcontainer5 img,
  .gridcontainer6 img {
       animation: sepiaFilter 10s forwards;
      height: 200px;
      width: 100px;

  }
  .gridcontainer7 img {
    height: 200px;
    width: 100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
   /***Animating Images***/
  @keyframes sepiaFilter {
    from {
      height: 300px;
      width: 200px;
    }

    to {
      height: 500px;
      width: 300px;
    }
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: #FBE7C6;
  }

  html {
    height: 100%;
    width: 100%;
  }
  
  /***Creating Navigation Bar**/
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float:left;
  }

  nav li a {
    display: block;
    text-align: left;
    color: white;
    background-color: #c65102;
    padding: 14px 40px;
    text-decoration: none;
  }

  nav li a:hover,
  nav li a.active {
    background-color: #000C66;
  }
  
  .fruityexpress {
    margin-left:55px;
    margin-right:60px;
    font-weight: bold;
  }
  
  footer li {
    display:inline;
  }

  footer li a:hover, footer li a.active {
  border-bottom:5px solid black;
  }
  /**Search Bar**/
  .search-container button {
    background-color: #FBE7C6;
    border-radius: 25px;
    border-color: black;
    border-style:solid;
    width:15%;
    padding: 5px;
    font-size: 17px;
    float:right;
    margin-right:260px;
    margin-top:10px;
  }

  .search-container button input[type=text]{
    background-color: #FBE7C6;
    border:none;
  }

  input[type=text] {
     width:70%;
    color:black;
  }
  
  /***Alligning Elements**/
  .home,
  menu,
  .careers {
    margin-bottom: 10px;
  }

  .home,
  menu,
  .careers,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-left: 40px;
  }

  footer, footer li {
    margin-left: 35px;
  } 
   /***Creating Buttons**/
  .home {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
  }

  .menu {
    background-color: black;
    color: #FBE7C6;
    border-radius: 25px;
    padding: 15px 35px;
    font-weight: bold;
    margin-top:140px;
    font-size:20px;
  }

  .careers:hover {
    background-color: orange;
  }

  .menu:hover {
    background-color: blue;
  }


  .careers {
    background-color: #FBE7C6;
    color: black;
    border-style: solid;
    border-radius: 25px;
    padding: 15px 35px;
    float:left;
    font-weight: bold;
    font-size:20px;
  }

  .menu, .careers {
     width:80%;
  }
   /**When buttons are clicked the mouse changes from an arrow to a hand showing that these buttons are clickable**/
  li a,
  .home,
  .menu,
  .careers {
    cursor: pointer;
  }
  /**Creating Download Container**/
  .Appstorecontainer, .Appstorecontainer2 {
    background-color: black;
    border-radius: 8px;
    color:white;
    padding: 5px;
    float:left;
    margin-left:40px;
    padding-bottom:10px;
    padding-right:20px;
  }
  /**Creating Symbol Container**/
  .symbolcontainer i {
    background-color:lightgrey;
    border-radius:8px;
    padding:10px;
  }
  /**No bullet points and numbers on the lists on the main content**/
  main li {
    overflow: hidden;
    margin-left:2px;
  }
  
  /**Changing sizes of headers, paragraphs and lists**/
  h1 {
    font-size: 80px;
    font-family: "Jua", sans-serif;
    font-weight: lighter;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  li {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    text-align:left;
  }
  /**Changing Font Of The Text Except For The Title**/
  h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
  }
  /***Alligning Images and spacing them out between text**/
  
  .symbolcontainer, .gridcontainer,
  .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,  .gridcontainer7 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
  }

  .buttoncontainer {
    display: grid;
    grid-template-columns: auto auto 500px;
  }
  
  .gridcontainer img,
  .gridcontainer2 img,
  .gridcontainer3 img,
  .gridcontainer4 img,
  .gridcontainer5 img,
  .gridcontainer6 img {
       animation: sepiaFilter 10s forwards;
      height: 200px;
      width: 100px;
  }
  
  .gridcontainer7 img  {
       animation: sepiaFilter 10s forwards;
      height: 200px;
      width: 100px;
      padding-top: 100px;
      padding-left: 20px;
      padding-right: 50px;
  }
  
   /***Animating Images***/
  @keyframes sepiaFilter {
    from {
      height: 300px;
      width: 200px;
    }

    to {
      height: 500px;
      width: 300px;
    }
  }
}