@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@media screen and (max-width: 600px) {
  body {
    background-color: #FBE7C6;
  }

  html {
    height: 100%;
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

nav li {
    float: left;
    width: 25%;
  }

  nav li a {
    display: block;
    text-align: left;
    color: white;
    background-color: #c65102;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav li a:hover,
  .active {
    background-color: #000C66;
  }

  footer,
  .home,
  .menu,
  .careers,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  input[type=text],
  textarea {
    margin-left: 40px;
  }

  .home, .menu, .careers {
  margin-bottom: 10px;
  }
  
  .home {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
  }
  .menu,
  careers {
    text-align: center;
    padding: 14px 16px;
  }

  .menu {
    background-color: black;
    color: #FBE7C6;
    border-radius: 20px;
    padding: 15px 25px;
  }

  .careers:hover {
    background-color: orange;
  }

  .menu:hover {
    background-color: blue;
  }
  

  .careers {
    background-color: #FBE7C6;
    color: black;
    border-style: solid;
    border-radius: 20px;
    padding: 15px 25px;
  }

  input[type=text],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit],
  input[type=subscribe] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
  }

  input[type=submit],
  input[type=subscribe],
  label[for=fullname],
  label[for=email],
  label[for=subject],
  .container3 input[type=text] {
    margin-left: 80px;
  }

  input[type=submit]:hover,
  input[type=subscribe]:hover {
    background-color: grey;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
  }

  li a,
  input[type=submit],
  input[type=subscribe],
  .home,
  .menu,
  .careers {
    cursor: pointer;
  }

  .container3 input[type=text] {
    background-color: #FBE7C6;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 50px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  li {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .gridcontainer,
  .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,
  .gridcontainer7 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
  }

  .gridcontainer img,
  .gridcontainer2 img,
  .gridcontainer3 img,
  .gridcontainer4 img,
  .gridcontainer5 img,
  .gridcontainer6 img,
  .gridcontainer7 img {
       animation: sepiaFilter 10s forwards;
      height: 48px;
      width: 48px;
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 50px;
  }
    @keyframes sepiaFilter {
      from {
        height: 48px;
        width: 48px;
      }

      to {
        height: 100px;
        width: 100px;
      }
    }
}

@media screen and (min-width: 600px) {
  body {
    background-color: #FBE7C6;
  }

  html {
    height: 100%;
    width: 100%;
  }

 li {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float: left;
    width: 25%;
  }

  li a {
    display: block;
    text-align: center;
    color: white;
    background-color: #c65102;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover,
  .active {
    background-color: #000C66;
  }

  .home,
  .menu,
  .careers,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  input[type=text],
  textarea {
    margin-left: 40px;
  }

  .home,
  .menu,
  .careers {
    margin-bottom: 10px;
  }

  .home {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
  }

  .menu {
    background-color: black;
    color: #FBE7C6;
    border-radius: 20px;
    padding: 15px 25px;
  }

  .careers:hover {
    background-color: orange;
  }

  .menu:hover {
    background-color: blue;
  }

  .careers {
    background-color: #FBE7C6;
    color: black;
    border-radius: 20px;
    padding: 15px 25px;
  }

  footer {
    margin-left: 20px;
  }

  input[type=text],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  label[for=fullname],
  label[for=email],
  label[for=subject],
  input[type=submit],
  input[type=subscribe],
  .container3 input[type=text] {
    margin-left: 57px;
  }

  input[type=submit],
  input[type=subscribe] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
  }

  input[type=submit]:hover,
  input[type=subscribe]:hover {
    background-color: grey;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  li a,
  input[type=submit],
  input[type=subscribe],
  .home,
  .menu,
  .careers {
    cursor: pointer;
  }

  .container3 input[type=text] {
    background-color: #FBE7C6;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 50px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  li {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .gridcontainer,
  .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,
  .gridcontainer7 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
  }

  .gridcontainer img,
  .gridcontainer2 img,
  .gridcontainer3 img,
  .gridcontainer4 img,
  .gridcontainer5 img,
  .gridcontainer6 img,
  .gridcontainer7 img {
    animation: sepiaFilter 10s forwards;
    height: 48px;
    width: 48px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @keyframes sepiaFilter {
    from {
      height: 48px;
      width: 48px;
    }

    to {
      height: 100px;
      width: 100px;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: #FBE7C6;
  }

  html {
    height: 100%;
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

 nav li {
    float: left;
    width: 25%;
  }

  li a {
    display: block;
    text-align: center;
    color: white;
    background-color: #c65102;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover,
  .active {
    background-color: #000C66;
  }

  .home,
  .menu,
  .careers,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  input[type=text],
  textarea {
    margin-left: 40px;
  }

  .home,
  .menu,
  .careers {
    margin-bottom: 10px;
  }

  .home {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
  }

  .menu {
    background-color: black;
    color: #FBE7C6;
    border-radius: 20px;
    padding: 15px 25px;
  }

  .careers:hover {
    background-color: orange;
  }

  .menu:hover {
    background-color: blue;
  }

  .careers {
    background-color: #FBE7C6;
    color: black;
    border-radius: 20px;
    padding: 15px 25px;
  }

  footer {
    margin-left: 20px;
  }

  input[type=text],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit],
  input[type=subscribe] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
  }

  input[type=submit]:hover,
  input[type=subscribe]:hover {
    background-color: grey;
  }

  /**label[for=fullname],
  label[for=email], label[for=subject] {
    margin-left: 15px;
  }**/

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  li a,
  input[type=submit],
  input[type=subscribe],
  .home,
  .menu,
  .careers {
    cursor: pointer;
  }

  .container3 input[type=text] {
    background-color: #FBE7C6;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 50px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  li {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .gridcontainer,
  .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,
  .gridcontainer7 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
  }

  .gridcontainer img,
  .gridcontainer2 img,
  .gridcontainer3 img,
  .gridcontainer4 img,
  .gridcontainer5 img,
  .gridcontainer6 img,
  .gridcontainer7 img {
    animation: sepiaFilter 10s forwards;
    height: 48px;
    width: 48px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @keyframes sepiaFilter {
    from {
      height: 48px;
      width: 48px;
    }

    to {
      height: 100px;
      width: 100px;
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: #FBE7C6;
  }

  html {
    height: 100%;
    width: 100%;
  }

  ul  {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float: left;
    width: 25%;
  }

  li a {
    display: block;
    text-align: center;
    color: white;
    background-color: #c65102;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover,
  active {
    background-color: #000C66;
  }

  .home,
  .menu,
  .careers,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  input[type=text],
  textarea {
    margin-left: 40px;
  }

  .home,
  .menu,
  .careers {
    margin-bottom: 10px;
  }

  .home {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
  }

  .menu {
    background-color: black;
    color: #FBE7C6;
    border-radius: 20px;
    padding: 15px 25px;
  }

  .careers:hover {
    background-color: orange;
  }

  .menu:hover {
    background-color: blue;
  }

  .careers {
    background-color: #FBE7C6;
    color: black;
    border-radius: 20px;
    padding: 15px 25px;
  }

  input[type=text],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit],
  input[type=subscribe] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
  }

  footer,
  input[type=submit],
  input[type=subscribe],
  .container3 input[type=text] {
    margin-left: 15px;
  }

  input[type=submit]:hover,
  input[type=subscribe]:hover {
    background-color: grey;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  li a,
  input[type=submit],
  input[type=subscribe],
  .home,
  .menu,
  .careers {
    cursor: pointer;
  }

  .container3 input[type=text] {
    background-color: #FBE7C6;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label[for=fullname],
  label[for=email],
  label[for=subject] {
    margin-left: 15px;
  }

  h1 {
    font-size: 50px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  li {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .gridcontainer,
  .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,
  .gridcontainer7 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
  } 

  .gridcontainer img, grdicontainer2 img, 
  .gridcontainer3 img,
  .gridcontainer4 img,
  .gridcontainer5 img,
  .gridcontainer6 img,
  .gridcontainer7 img {
     animation: sepiaFilter 10s forwards;
    height: 48px;
    width: 48px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;

  }

  .gridcontainer7 img {
     height: 200px;
     width: 200px;
     padding-top: 100px;
     padding-left: 100px;
     padding-right: 50px;
   }

  @keyframes sepiaFilter {
    from {
      height: 200px;
      width: 200px;
    }

    to {
      filter: sepia(200%);
      height: 315px;
      width: 315px;
    }
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: #FBE7C6;
  }

  html {
    height: 100%;
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float: left;
    width: 25%;
  }

  li a {
    margin-top: 50px;
    margin-bottom: 2px;
    display: block;
    text-align: center;
    color: white;
    background-color: #c65102;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover,
  .active {
    background-color: #000C66;
  }

  .home,
  menu,
  .careers {
    margin-bottom: 10px;
  }

  .home,
  menu,
  .careers,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  input[type=text],
  textarea {
    margin-left: 40px;
  }

  .home {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
  }

  .menu {
    background-color: black;
    color: #FBE7C6;
    border-radius: 20px;
    padding: 15px 25px;
  }

  .careers:hover {
    background-color: orange;
  }

  .menu:hover {
    background-color: blue;
  }

  .careers {
    background-color: #FBE7C6;
    color: black;
    border-radius: 20px;
    padding: 15px 25px;
  }

  footer {
    margin-left: 15px;
  }

  input[type=text],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit],
  input[type=subscribe] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-left: 57px;
  }

  input[type=submit]:hover,
  input[type=subscribe]:hover {
    background-color: grey;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  li a,
  input[type=submit],
  input[type=subscribe],
  .home,
  .menu,
  .careers {
    cursor: pointer;
  }

  label[for=fullname],
  label[for=email],
  label[for=subject] {
    font-size: 1.5rem;
    margin-left: 57px;
  }

  .container3 input[type=text] {
    background-color: #FBE7C6;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 57px;
  }

  h1 {
    font-size: 100px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  li {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .gridcontainer,
  .gridcontainer2,
  .gridcontainer3,
  .gridcontainer4,
  .gridcontainer5,
  .gridcontainer6,
  .gridcontainer7 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
  }
  .gridcontainer img, .gridcontainer2
  .gridcontainer3 img, .gridcontainer4 img, .gridcontainer5 img, .gridcontainer6 img {
    animation: sepiaFilter 10s forwards;
    height: 48px;
    width: 48px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }

   .gridcontainer7 img {
     height: 48px;
     width: 48px;
     padding-top: 100px;
     padding-left: 100px;
     padding-right: 50px;
   }

  @keyframes sepiaFilter {
    from {
      height: 48px;
      width: 48px;
    }

    to {
      height: 100px;
      width: 100px;
    }
  }
}